*{
    margin: 20;
}

.person{
    color: #FF0001;
    font-family: 'Times New Roman', Times, serif;
}

.good{
    color: rgb(0, 0, 255, 0.1);
    font-weight: 300;
    font-style: italic;
}

.size{
    font-size: 50px;
}